*{
    margin: 0px;
}
#full-section{
    position: fixed;
    background: url(https://i.ibb.co/Nym4qcX/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
.first-div{
    position: relative;
    float: right;
    display: flex;
    margin-right: 150px;
    margin-top: 70px; 
}
.exceutive-shifty{
    display: flex;
}
.execute-shift-img{
    border-radius: 100%;
    border: 4px solid rgb(19, 241, 241);
}

.second-div{
    position: sticky;
    display: flex;
    justify-content:center;
    margin-top: 100px;
}
.Propagation-Knowledge{
    display: flex;
}
.Propagation-Knowledge-img{
    border-radius: 100%;
    border: 4px solid rgb(19, 241, 241);
}


.third-div{
    position: sticky;
    display: flex;
    justify-content:left;
    margin-top: -50px;
}